---
import CustomLayout from "../layouts/CustomLayout.astro";
import ProjectList from "../data/projects.json";
---

<!-- Estaría bien que el json estuviese en una bbdd para que al actualizar solo tenga que modificar el fichero -->
<!-- Y lo mismo para el CV, skills, foto, y strings -->
<CustomLayout title="Projects List">
    <h1 class="permanent-marker">All projects</h1>
    <div class="div-center">
        {
            ProjectList.filter((project) => project.title !== "More projects").map((project) => (
                <br>
                <hr>
                <br>
                <section class="card full-card">
                    <div class="div-center">
                        <h2 class="permanent-marker">{project.title}</h2>
                        <div class="div-center">
                        <section class="projectGallery">
                            {
                                project.images.map((image) =>(
                                    <img
                                        src={image}
                                        class="projectImage"
                                    />
                                ))
                            }
                        </section>
                        </div>
                        <p class="indie-flower">{project.description}</p>
                        <p class="indie-flower">{project.aditionalInfo}</p>
                        <video
                            src={project.video}
                            controls
                            width="640"
                            height="360"
                        />
                    </div>
                    <div class="div-row center-items">
                        <a href={project.githubUrl} target="_blank">
                            <img
                                src="/footerIcons/githubIcon.svg"
                                alt="GitHub Link"
                                width="50"
                                height="50"
                                title="GitHub link"
                            />
                        </a>
                        <a href={project.deployUrl} target="_blank">
                            <img
                                src="/footerIcons/download.svg"
                                alt="Download"
                                width="50"
                                height="50"
                                title="Download"
                            />
                        </a>
                    </div>
                </section>
                
            ))
        }
    </div>
</CustomLayout>
